.custom-shape-divider-top-1686781453 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1686781453 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 38px;
}

.custom-shape-divider-top-1686781453 .shape-fill {
  fill: #ffffff;
}
